[Desktop Entry]
Name=Slash'EM
Comment=Variant of the roguelike game, NetHack
Comment[pl]=Wariant Nethacka
Icon=slashem
Exec=/usr/games/slashem
Terminal=false
Type=Application
# vi: encoding=utf-8
